%p Outside of using Ruby, Postgres and SOME raw javascript, this is where I play with coding tools that I don't touch at work.

%ul
  %li I use Sinatra rather than Rails
  %li I use Haml rather than ERB
  %li I use Data Mapper rather than Active Record
  %li I occasionally use Coffee Script rather than Javascript
  %li I list my random experiments on the front page
