%ul.list
  %li
    %h3
      %a{:href => "/fibonacci"} fib text
    %h3
      %a{:href => "/robo"} particle generation (3js)
    %h3
      %a{:href => "/birds"} Birds 3js example
    %h3
      %a{:href => "/pg-user-defined-functions"} PSQL User Defined Functions
    %h3
      %a{:href => "/svg-experiments"} SVG Experiments
