!!!
%html
  -# Mostly converted from HTML5 Boilerplate
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %meta{'charset' => 'utf-8'}/
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}/
    %meta{'name' => 'description', :content => 'Code Garage'}/
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %link(rel='stylesheet' href='css/normalize.css' type='text/css')
    %link(rel='stylesheet' href='css/h5bp.css' type='text/css')
    %link(rel='stylesheet' href='css/main.css' type='text/css')
    %title Code Garage
  %body
    .content
      = yield
    %a#about{:href => '/about'} about

    -# Google Analytics: change UA-XXXXX-X to be your site's ID
    :javascript
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
