%br Build something in Illustrator
%br save as
%br format = svg
%br save as SVG 1.1 (select SVG)
%br open SVG in Atom
%br only want SVG tag
%br You can give it unique IDs and Classes
%br
%a{:href => 'http://jsfiddle.net/frankamous/N76Y4/'} jsFiddle
