#pyramid {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.row {
  height: 55px;
}

.word {
  display: inline-block;
  vertical-align: middle;
  font-family:"Times New Roman", Times, serif;
  font-size: .8em;
  border: 2px solid black;
  width: 70px;
  text-align: center;
  padding: 10px;
  margin: 5px 10px;
  background-color: #efefef;
}

body {
    width: 90%;
    margin: 0px auto;
}