ul {
  list-style-type: none;
}

#pyramid {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.row {
  height: 55px;
}

.word {
  display: inline-block;
  vertical-align: middle;
  font-family:"Times New Roman", Times, serif;
  font-size: .8em;
  border: 2px solid black;
  width: 70px;
  text-align: center;
  padding: 10px;
  margin: 5px 10px;
  background-color: #efefef;
}

body {
    width: 90%;
    margin: 0px auto;
}

#about {
  background: black;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: 200;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

ul.list {
  margin: 80px auto;
  width: 300px;
}

ul.list li {
  text-align: center;
}

ul.list li a {
  text-decoration: none;
}
